.navbar {
  background-color: var(--main);
  color: var(--dark);
  width: 100%;
  height: 100px;
  display: flex;
  font-display: row;
  justify-content: space-between;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

.logo-text {
  margin-left: 55px;
  margin-top: 25px;
  font-family: var(--logo-font);
  color: var(--dark);
  font-size: 34px;
}

.weblinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}

.navlink {
  color: black;
  margin-top: 45px;
  margin-right: 55px;
}
